@import "@/theme/variables.scss";

.card {
  .image {
    width: 245px;
    border-radius: 15px;
    .mask {
      transition: all 250ms ease;
      opacity: 0;
      background: $primary-opacity;
      backdrop-filter: blur($blur);
    }

    &:hover,
    &:focus {
      .mask {
        opacity: 1;
      }
    }
  }
}
