main {
  min-height: 100vh;

  .flip-container {
    perspective: 1500px;
    width: fit-content;
    .flipper {
      transform-style: preserve-3d;
      transition: transform 0.7s;
      border-radius: 20px;
      .back {
        z-index: 10;
        border-radius: inherit;
        transform: rotateY(180deg);
        background: #4974be2e;
        backdrop-filter: blur(13px);
        opacity: 0;
        transition: opacity 200ms 160ms ease;
      }
    }
    &:hover, &.focus {
      .flipper {
        transform: rotateY(180deg);
        .front {
          pointer-events: none;
        }
        .back {
          opacity: 1;
        }
      }
    }
  }
  img {
    width: auto;
    max-height: 90vh;

    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }
}
